/* Cart */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    background: radial-gradient(#fff,#FF8B8B);
    max-width: 1920px;
    max-height: 1080px;
}

.Container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px; 
}

.Menu-Bar {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

Nav {
    flex: 1;
    text-align: right;
}

Nav Ul {
    display: inline-block;
    list-style-type: none;
}

Nav Ul Li {
    display: inline-block;
    margin-right: 20px;
}

.Dropdown-Brand {
    position: relative;
    display: inline-block;
}

.Brand-Content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.Brand-Content a {
    color: black;
    padding: 6px 12px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.Brand-Content a:hover {
    background-color: cyan;
}

.Dropdown-Brand:hover .Brand-Content {
    display: block;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.Layout {
    background: radial-gradient(#fff,#FF8B8B);
    min-height: 900px;
}

.shopping-cart
{
    padding: 30px 200px 30px 200px;
    text-align: center;
}

.table-button {
    font-size: 20px;
    text-align: center;
}

.btn {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    padding: 1px 25px;
    cursor: pointer;
}

.button {
    background-color: black;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}